body {
    background-image: url(/images/background5.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Oswald', arial;
    font-size: 14px;
}

@border-color: #fff;

a {
    color: #155151;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.transparentBackground {
    background-image: url(/images/frostedGlass2.png);
    color: #000;
}

p {
    margin: 0 0 20px 0;
}

.pageTitle {
    position: fixed;
    left: 0;
    top: 0;
    height: 45px;
    line-height: 45px;
    width: 230px;
    padding: 0 40px 0 0;
    .transparentBackground;

    border: 0;
    border-right: 2px solid @border-color;
    border-bottom: 2px solid @border-color;
    border-bottom-right-radius: 20px;
    text-align: right;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;

    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
    0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
    0 0 40px #A5F1FF;

//    text-shadow: 2px 2px 2px #666;


}

.windowPanel {
    max-width: 1500px;
    .titleBar {
        .transparentBackground;
        height: 35px;
        line-height: 35px;
        font-weight: bold;
        border: 2px solid @border-color;
        border-bottom: 0;
        margin: 0;
        padding: 0 30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        float: left;
        font-size: 17px;
        letter-spacing: 1px;
    }
    .topBorder {
        height: 35px;
        margin: 0;
        border-bottom: 2px solid @border-color;
        overflow: hidden;

    }
    .contentArea {
        .transparentBackground;
        clear: both;
        padding: 15px;
        border: 2px solid @border-color;
        border-top: 0;
        border-bottom-left-radius: 10px;
        color: #333;
    }

}